<div ng-controller='AccountsListCtrl'>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Photo</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>IBAN</th>
                <th><a ng-href="{{ 'base.accounts_create'|url }}" type="button" class="btn btn-info pull-right" title="Create Account">+</a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="account in accounts">
                <td><img ng-src="{{ account.photo_thumbnail_small }}" /></td>
                <td>{{ account.first_name }}</td>
                <td>{{ account.last_name }}</td>
                <td>{{ account.iban }}</td>
                <td>
                    <a ng-click="removeAccount($index, account.id)" class="action remove glyphicon glyphicon-remove pull-right text-muted" aria-hidden="true" title="Delete Account"></a>
                    <a ng-href="{{ 'base.accounts_edit'|url:[account.id] }}" class="action edit glyphicon glyphicon-pencil pull-right text-muted" aria-hidden="true" title="Edit Account"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>