<div ng-controller='AccountsListCtrl'>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Photo</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>IBAN</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="account in accounts">
                <td><img ng-src="{{ account.photo }}" /></td>
                <td>{{ account.first_name }}</td>
                <td>{{ account.last_name }}</td>
                <td>{{ account.iban }}</td>
                <td>
                    <span ng-click="removeAccount($index, account.id)" class="action remove glyphicon glyphicon-remove pull-right text-muted" aria-hidden="true"></span>
                    <span class="action edit glyphicon glyphicon-pencil pull-right text-muted" aria-hidden="true"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>